.app {
	box-shadow: 0 0 0.5rem #00000080;
	border-radius: 0.5rem;
	height: calc(100vh - 1.75rem);
	width: min(calc(100vw - 1.75rem), 100vh);

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.chat-container {
	overflow: scroll;
	height: calc(100% - 3rem);
}

.text-input {
	position: absolute;
	width: calc(100% - 3rem);
	bottom: 0.5rem;
}

.text-input input {
	width: 100%;
	background-color: var(--input-color);
	border: none;
	padding: 1rem;
	color: var(--text-color);
	font-size: 1rem;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
}
.text-input input:focus {
	outline: none;
}
